streamlit==0.79.0
matplotlib==3.4.1
pandas==1.2.3
ExifRead==2.3.2
seaborn==0.11.1
mutagen==1.45.1
Pillow==8.2.0
PyPDF2==1.26.0
spacy==3.0.5
textblob==0.15.3
neattext==0.1.0
wordcloud==1.8.1
docx2txt==0.8
pdfplumber==0.5.27
spacy-streamlit==1.0.0
python3 -m spacy download en_core_web_sm
